#quote-box {
    border-radius: 10px;
    background-color: white;    
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#text {
    font-size: 1.75em;
    text-align: center;    
}

#author{  
  margin-top: 10px;  
  text-align: right;  
}

#buttons {    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tweet-quote{
  padding: 10px 20px;  
}

#new-quote {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}





